.backdrop {
  background-image: url('../public/background-books.jpeg');
  background-size: cover;
  background-position: 100px;
  min-height: 200px;
  border-radius: 10px;
}

.signupform {
  padding: 15px;
  background-color: rgb(199, 240, 226);
  margin: 10px;
  border-radius: 10px;
}

.clubcard {
  margin: 10px;
  background-color: rgb(247, 229, 206);
  border-radius: 10px;
  padding: 15px;
  min-height: 200px;
  border: 5px;
  border-style: solid;
  border-color: rgb(75, 224, 5);
}

.Mystery {
  background-image: url('../public/mystery.jpeg');
  background-position: center;
}

.Mystery-header, .Romance-header, .Fantasy-header {
  color: white;
}

.Fantasy {
  background-image: url('../public/fantasy.jpeg');
  background-size: cover;
  background-position: center;
}

.Romance {
  background-image: url('../public/romance2.jpeg');
  background-repeat: no-repeat;
  background-position-y: -140px;
  background-size: cover;
}

.membercard {
  background-color: rgba(255, 255, 255, 0.288);
  margin: 10px;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Mystery-font, .Romance-font, .Fantasy-font {
  opacity: 100%;
  color: white;
}

.bookofthemonthcard {
  background-color: rgb(75, 224, 5);
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.form-label {
  font-size: 1.5rem;
  margin-right: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.galleryimage {
  max-width: 200px;
  margin: 10px;
  border-radius: 10px;
}

.post-card {
  min-width: 350px;
  background-color: rgb(255, 239, 93);
  border-radius: 10px;
  margin: 10px;
  padding: 10px
}

.post-header {
  color: rgb(29, 29, 105);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}